body {
  margin: 0;
  background-color: #659dbd;
}

.container {
  margin-top: 5rem;
}

.container img {
  width: 100%;
  margin: 2rem auto;
  display: block;
  height: 500px;
  object-fit: fill;
  border: 2px solid black;
}

.jumbotron {
  font-weight: 200;
  padding: 2rem;
  background-color: #76a3bd;
  color: rgb(29, 18, 43);
}
.jumbotron .lead {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 1rem;
  font-size: 1.3rem;
  padding: 0.5rem;
}
.jumbotron h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 3rem;
}
hr {
  margin: 3rem auto;
  border: none;
  border-bottom: 5px dotted;
  width: 4%;
  white-space: 2rem;
}

p {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 1rem;
  font-size: 1.3rem;
  padding: 0.5rem;
}

h3 {
  padding: 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
